<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
    <%= link_to "layout app", '#', id: "logo" , style:"color:white;font:larger bold;"%>
     <nav>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home",   staticpages_home_path %></li>
         <li><%= link_to "Help",    staticpages_help_path %></li>
         <li><%= link_to "Log in", staticpages_signin_path %></li>
       </ul>
     </nav>
   </div>
 </header>
